<h3 class="text-center">DigitalCrafts' Code Challenge</h3>
<div class="col col-xs-12">
  <div class="editor" ui-ace="{
    mode: 'javascript',
    theme: 'monokai',
    onLoad: aceLoaded,
    useWrapMode: true
    }" ng-model="code"></div>
</div>

<div class="col col-xs-12">
  <button type="button" name="button" ng-click="runCode()">Run & Save</button>
  <button type="button" name="button" ng-click="clearConsole()">Clear Console</button>
  <button type="button" name="button" ng-click="saveCode()">Submit & Continue</button>
</div>

<div class="col col-xs-12">
  <div id="result-log" class="result-log"></div>
</div>

<iframe src="http://dc-app.surge.sh/codeTest/jasmine/SpecRunner.html" width="1" height="1" id="jasmine" style="visibility: hidden;"></iframe>
