<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Application</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="note">
            <p>Please take some time to complete the following questions.  If you get stuck at any point, don't hesitate to reach out to hello@digitalcrafts.com or (770) 858-5806 for assistance.
               After you submit your application, a member from our admissions team will be in touch to make an introduction, answer any questions, and discuss next steps.  We want to ensure our students' experience is parallel to none, and that begins right now.

               Please note: you will not be able to save your answers and return later, so make sure you block off 15-30 minutes to complete the application in its entirety.</p>
          </div>
          <form action="">
            <div class="form-group">
              <label for="firstname">First Name:</label>
              <input type="text" name="firstname" class="form-control" ng-model="firstname">
            </div>
            <div class="form-group">
              <label for="lastname">Last Name:</label>
              <input type="text" name="lastname" class="form-control" ng-model="lastname">
            </div>
            <div class="form-group">
              <label for="phone">Phone Number:</label>
              <input type="tel" name="phone" class="form-control" ng-model="phone">
            </div>
            <div class="form-group">
              <label for="birthday">Birthday:</label>
              <input type="date" name="birthday" class="form-control" ng-model="birthday">
            </div>
            <div class="form-group">
              <label for="address">Address:</label>
              <input type="date" name="address" class="form-control" ng-model="address">
            </div>
            <div class="form-group">
              <label for="hear">How did you hear about DigitalCrafts:</label>

            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="js/angular.min.js"></script>
  </body>
</html>
