/*
DigitalCrafts colors:
  green: #5A8836
  blue: #5697CF
  orange: #F8941D
*/
body {
  margin-top: 20px;
}

form {
  border: 1px solid #d4cfcf;
  padding: 15px;
}

.alert {
  margin-top: 20px;
}

.logo {
  max-width: 125px;
  float: left;
}

.nav-pills {
  float: right;
  margin-bottom: 10px;
}

/* CODE CHALLENGE */
.editor {
  height: 400px;
  margin-bottom: 10px;
}

.result-log {
  height: 400px;
  margin-top: 10px;
  background-color: #272822;
  color: #F8F8F2;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  overflow: scroll;
}

.challengeBtn {
  margin: 20px auto;
}
